doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/public/css/style.css")
  body
    h1 Custom Object Table
    p: a(href="/update-cobj") Add/Update this table

    if rows && rows.length
      table(border="1", cellpadding="6")
        thead
          tr
            th Name
            th Publisher
            th Price
        tbody
          each r in rows
            tr
              td= r.name
              td= r.publisher
              td= r.price
    else
      p No records yet. Click “Add/Update this table”.
